<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fabric 단일 테스트</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.2.4/fabric.min.js"></script>
</head>
<body>
  <canvas id="test-canvas" width="500" height="300" style="border:1px solid #000;"></canvas>
  <script>
    var testCanvas = new fabric.Canvas('test-canvas');
    testCanvas.isDrawingMode = true;
    testCanvas.freeDrawingBrush.color = "black";
    testCanvas.freeDrawingBrush.width = 5;
    testCanvas.on('path:created', function(e) {
      console.log("새로운 경로 생성:", e.path);
    });
  </script>
</body>
</html>